# Specifies intentionally untracked files to ignore.
#
# https://git-scm.com/docs/gitignore
# https://www.gitignore.io/
# https://github.com/github/gitignore
#
# In case of conflict with a specific file format, feel free to remove the
# problematic line.

# Generated when a Git operation is conflicting.
*.orig

# VS Exports
StructLayout/.vs/
StructLayout/bin/
StructLayout/obj/

# Test Project
TestProject/tmp/*
TestProject/bin/*
TestProject/.vs/*