# Specifies intentionally untracked files to ignore.
#
# https://git-scm.com/docs/gitignore
# https://www.gitignore.io/
# https://github.com/github/gitignore
#
# In case of conflict with a specific file format, feel free to remove the
# problematic line.

# Generated when a Git operation is conflicting.
*.orig

# Personal extensions
*.vcxproj.user
*.scor
*.scor.*
*.slbin

# DLLs
*.dll

# VSIX
.vs/
StructLayout/.vs/

StructLayout/VSIX16/.vs/
StructLayout/VSIX16/bin/
StructLayout/VSIX16/obj/

StructLayout/VSIX17/.vs/
StructLayout/VSIX17/bin/
StructLayout/VSIX17/obj/

# Layout Parsers
Parsers/ClangLayout/.vs/
Parsers/ClangLayout/tmp/
Parsers/ClangLayout/bin/

Parsers/PDBLayout/.vs/
Parsers/PDBLayout/tmp/
Parsers/PDBLayout/bin/

# LLVM project
llvm-project*

# WPF App for rapid UX iteration
Prototype/

# Test Projects
TestProjects/Regular/.vs/
TestProjects/Regular/tmp/
TestProjects/Regular/bin/
TestProjects/Regular/StructLayoutSettings.json
TestProjects/CMake/.vs/
TestProjects/CMake/out/