# Specifies intentionally untracked files to ignore.
#
# https://git-scm.com/docs/gitignore
# https://www.gitignore.io/
# https://github.com/github/gitignore
#
# In case of conflict with a specific file format, feel free to remove the
# problematic line.

# Generated when a Git operation is conflicting.
*.orig

# VSIX
StructLayout/.vs/
StructLayout/bin/
StructLayout/obj/

# Layout Parser
LayoutParser/.vs/
LayoutParser/tmp/
LayoutParser/bin/

# LLVM project
llvm-project/

# WPF App for rapid UX iteration
Prototype/

# Test Project
TestProject/.vs/
TestProject/tmp/
TestProject/bin/
